@use "../../pico/scss/colors" as *;
@use "../../pico/scss/settings" as *;

#{$parent-selector} .card.sonner {
  #{$css-var-prefix}sonner-font-size: 13px;
  #{$css-var-prefix}sonner-box-shadow: 0 4px 12px #0000001a;
  #{$css-var-prefix}sonner-gap: 6px;
  #{$css-var-prefix}sonner-width: var(--width);
  #{$css-var-prefix}sonner-button-padding: 0 8px;
  #{$css-var-prefix}sonner-button-border-radius: 4px;
  #{$css-var-prefix}sonner-button-font-size: 12px;

  display: flex;
  align-items: center;
  width: var(#{$css-var-prefix}sonner-width);
  gap: var(#{$css-var-prefix}sonner-gap);
  border: var(#{$css-var-prefix}border-width) solid
    var(#{$css-var-prefix}sonner-border-color);
  box-shadow: var(#{$css-var-prefix}sonner-box-shadow);
  font-size: var(#{$css-var-prefix}sonner-font-size);

  [data-close-button="true"] {
    #{$css-var-prefix}box-shadow: 0 4px 12px #0000001a;
    padding: 0;
    border-radius: 50%;
    border-color: inherit;
    background-color: inherit;
  }

  [data-button] {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 24px;

    margin: 0;
    margin-right: var(--toast-button-margin-end);
    margin-left: var(--toast-button-margin-start);
    padding: var(#{$css-var-prefix}sonner-button-padding);

    border: none;
    border-radius: var(#{$css-var-prefix}sonner-button-border-radius);
    outline: none;
    font-size: var(#{$css-var-prefix}sonner-button-font-size);
    transition:
      opacity 0.4s,
      box-shadow 0.2s;
  }
}

// Light color scheme (Default)
// Can be forced with data-theme="light"
[data-theme="light"],
:root:not([data-theme="dark"]) {
  #{$parent-selector} .sonner {
    #{$css-var-prefix}sonner-border-color: #{$slate-50};
  }
}

// Dark color scheme (Forced)
// Enabled if forced with data-theme="dark"
[data-theme="dark"] {
  #{$parent-selector} .sonner {
    #{$css-var-prefix}sonner-border-color: #{$slate-850};
  }
}

// Dark color scheme (Auto)
// Automatically enabled if user has Dark mode enabled
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    #{$parent-selector} .sonner {
      #{$css-var-prefix}sonner-border-color: #{$slate-850};
    }
  }
}
